.text {
    text-align: center;
}
#image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#header {
    font-weight: bold;
    margin-left: 2em;
}
#footer {
    width: 100%;
    font-size: small;
    background-color: beige;
    position: absolute;
    bottom: 0;
}
/* #inputFile {
    display: none;
} */
.footer_text {
    margin-left: 2em;
}